<div class="app-header-fixed app-aside-fixed" ng-class="{'app-aside-folded': appVm.isSideNavCollapsed}">
  <div ng-include="'app/blocks/header.tpl.html'" class="app-header navbar"></div>

  <div ng-include="'app/blocks/sidebar.tpl.html'" class="app-aside hidden-xs bg-dark"></div>

  <div class="app-content" refresh-on="UserChanged" refresh-action="appVm.getUser(data)" refresh-debounce="1000">
    <div refresh-on="OrganizationChanged" refresh-action="appVm.getOrganizations()" refresh-debounce="1000"></div>
    <button type="button" role="button" class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside"></button>

    <div class="alert alert-danger alert-banner m-b-none" ng-if="appVm.hasSystemNotificationMessage()">
      <div ng-bind-html="appVm.getSystemNotificationMessage()"></div>
    </div>
    <rate-limit></rate-limit>

    <div class="app-content-body fade-in" ui-view autoscroll="true"></div>
  </div>

  <div class="app-footer wrapper b-t bg-light">
    <span class="pull-right">
      <a href="https://github.com/exceptionless/Exceptionless.UI/releases" target="_blank">@@version</a>
      <a href="javascript:void(0);" ui-scroll="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a>
    </span>
    &copy; 2015 <a href="http://exceptionless.io">Exceptionless</a>
  </div>
  <intercom ng-if="appVm.isIntercomEnabled()"></intercom>
</div>
