<organization-notifications organization-id="vm.project.organization_id"></organization-notifications>

<div class="hbox hbox-auto-xs hbox-auto-sm" refresh-on="ProjectChanged" refresh-action="vm.get(data)" refresh-throttle="2500">
  <div class="col">
    <div class="wrapper-md">
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-th-list"></i> Manage {{ vm.project.name ? 'Project "' + vm.project.name + '"' : 'Project'}}</div>
        <div class="panel-body m-b-n">
          <tabset class="tab-container">
            <tab heading="General">
              <form name="vm.projectForm" role="form" class="form-validation">
                <div class="form-group">
                  <label for="name">Project Name</label>
                  <div ng-class="{'input-group': vm.projectForm.$pending }">
                    <input id="name" name="name" type="text" class="form-control" placeholder="Project Name"
                           ng-model="vm.project.name"
                           ng-model-options="{ debounce: 500 }"
                           ng-change="vm.save(vm.projectForm.$valid)"
                           project-name-available-validator
                           ng-required="true"
                           autofocus />

                    <span class="input-group-addon" ng-if="vm.projectForm.$pending">
                      <i class="fa fa-fw fa-spinner fa-spin"></i>
                    </span>
                  </div>

                  <div class="error" ng-messages="vm.projectForm.name.$error" ng-if="vm.projectForm.$submitted || vm.projectForm.name.$touched">
                    <small ng-message="required">Project Name is required.</small>
                    <small ng-message="unique">A project with this name already exists.</small>
                  </div>
                </div>

                <div class="form-group m-b-none">
                  <label>Organization Name</label>
                  <input type="text" class="form-control" placeholder="Organization Name" ng-model="vm.project.organization_name" readonly />
                </div>
              </form>
            </tab>
            <tab heading="API Keys" refresh-on="TokenChanged" refresh-action="vm.getTokens()" refresh-throttle="2500">
              <table class="table table-striped table-bordered table-fixed b-t">
                <thead>
                  <tr>
                    <th>API Key</th>
                    <th class="action-lg">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="token in vm.tokens track by token.id">
                    <td>{{::token.id}}</td>
                    <td>
                      <button type="button" role="button" class="btn btn-sm btn-primary" title="Copy to Clipboard" clip-copy="token.id" clip-click="vm.copied()" clip-hide-on-no-flash><i class="fa fa-copy"></i></button>
                      <button type="button" role="button" ng-click="vm.removeToken(token)" class="btn btn-sm btn-default" title="Delete"><i class="fa fa-times"></i></button>
                    </td>
                  </tr>
                  <tr ng-if="!vm.hasTokens()">
                    <td colspan="2" class="text-warning">This project does not have an API Key.</td>
                  </tr>
                </tbody>
              </table>

              <button type="button" role="button" ng-click="vm.addToken()" class="btn btn-primary">New API Key</button>
            </tab>
            <tab heading="Settings">
              <p>If the system detects a high volume of events coming from the same client IP address, it will
                automatically delete the data to reduce system noise.</p>

              <div class="checkbox">
                <label class="i-checks">
                  <input type="checkbox"
                         ng-model="vm.project.delete_bot_data_enabled"
                         ng-model-options="{ debounce: 500 }"
                         ng-change="vm.saveDeleteBotDataEnabled()">
                  <i></i>
                  Automatically delete bot data
                </label>
              </div>

              <h4>Data Exclusions</h4>

              <p>
                A comma delimited list of field names that should be removed from any error report data
                (e.g., extended data properties, form fields, cookies and query parameters). You can also
                specify a <a href="https://github.com/exceptionless/Exceptionless/wiki/Security" target="_blank"
                             title="Data Exclusions documentation">field name with wildcards (<strong>*</strong>)</a>
                to specify starts with, ends with, or contains just to be extra safe.
              </p>
              <input type="text" class="form-control" placeholder="Example: *Password*, CreditCard*, SSN"
                     ng-model="vm.data_exclusions"
                     ng-model-options="{ debounce: 500 }"
                     ng-change="vm.saveDataExclusion()"/>

              <h4>Client Configuration</h4>

              <p>The configuration values on this page will be automatically sent to the Exceptionless clients for
                your project and be available in the <code>Exceptionless.ExceptionlessClient.Default.Configuration</code>
                dictionary.</p>
              <!-- TODO: The add new dropdown should be populated with default settings we know about. -->
              <table class="table table-striped table-bordered table-fixed b-t">
                <thead>
                  <tr>
                    <th>Key</th>
                    <th>Value</th>
                    <th class="action-lg">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="conf in vm.config track by conf.key">
                    <td>
                      <div class="control-group">{{::conf.key}}</div>
                    </td>
                    <td ng-class="{'row-clickable': !rowform.$visible}" ng-click="rowform.$show()">
                      <div editable-text="conf.value" e-name="value" e-form="rowform" e-required
                           onbeforesave="vm.validateClientConfiguration(conf.value, $data)"
                           onaftersave="vm.saveClientConfiguration(conf)">{{conf.value}}</div>
                    </td>
                    <td>
                      <form name="rowform" editable-form ng-show="rowform.$visible" class="form-buttons form-inline">
                        <button type="submit" role="button" ng-disabled="rowform.$waiting" class="btn btn-sm btn-primary">
                          Save
                        </button>
                        <button type="button" role="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">
                          Cancel
                        </button>
                      </form>
                      <div class="buttons" ng-show="!rowform.$visible">
                        <button type="button" role="button" class="btn btn-sm btn-default" ng-click="rowform.$show()">Edit</button>
                        <button type="button" role="button" class="btn btn-sm btn-danger" title="Delete" ng-click="vm.removeConfig(conf)"><i class="fa fa-times"></i></button>
                      </div>
                    </td>
                  </tr>
                  <tr ng-if="!vm.hasConfiguration()">
                    <td colspan="3">This project does not contain any custom configuration settings.</td>
                  </tr>
                </tbody>
              </table>

              <button ng-click="vm.addConfiguration()" class="btn btn-primary">New Client Configuration</button>
            </tab>
            <tab heading="Integrations" refresh-on="WebHookChanged" refresh-action="vm.getWebHooks()" refresh-throttle="2500">
              <div class="alert in fade alert-success" ng-if="!vm.hasPremiumFeatures()">
                <a ng-click="vm.showChangePlanDialog()">Upgrade now</a> to enable integrations!
              </div>

              <p>
                The following web hooks will be called for this project. We also support
                <a href="http://zapier.com/" target="_blank">Zapier</a> which allows
                you to easily integrate Exceptionless with many different services (200+)
                like JIRA, HipChat, Twilio, Basecamp and more.
              </p>

              <table class="table table-striped table-bordered table-fixed b-t">
                <thead>
                <tr>
                  <th>Url</th>
                  <th>Event Types</th>
                  <th class="action">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="hook in vm.webHooks track by hook.id">
                  <td>{{::hook.url}}</td>
                  <td>
                    <span class="label label-success" ng-repeat="type in hook.event_types track by type">{{::type}}</span>
                  </td>
                  <td>
                    <button type="button" role="button" class="btn btn-sm" title="Delete" ng-click="vm.removeWebHook(hook)"><i class="fa fa-times"></i></button>
                  </td>
                </tr>
                <tr ng-if="!vm.hasWebHook()">
                  <td colspan="3">This project does not contain any integrations.</td>
                </tr>
                </tbody>
              </table>

              <button type="button" role="button" ng-click="vm.addWebHook()" class="btn btn-primary">Add Web Hook</button>
            </tab>
          </tabset>
        </div>
        <footer class="panel-footer">
          <div class="pull-right">
            <a ui-sref="app.project-dashboard({ projectId: vm.project.id })" class="btn btn-default" role="button">
              <span class="visible-xs" title="Go To Dashboard"><i class="fa fa-fw fa-dashboard"></i></span>
              <span class="hidden-xs">Go To Dashboard</span></a>
          </div>

          <a ui-sref="app.organization.manage({ id: vm.project.organization_id })" class="btn btn-primary" role="button" title="Manage Organization">
            <i class="fa fa-fw fa-group"></i>
          </a>
          <a ui-sref="app.account.manage({ tab: 'notifications', projectId: vm.project.id })" class="btn btn-primary" role="button" title="Manage Notification Settings">
            <i class="fa fa-fw fa-envelope"></i>
          </a>
          <a ui-sref="app.project.configure({ id: vm.project.id })" class="btn btn-primary" role="button" title="Download & Configure Client">
            <i class="fa fa-fw fa-cloud-download"></i>
          </a>
          <div class="btn-group">
            <button type="button" role="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-fw fa-remove"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a ng-click="vm.resetData()" role="button">Reset Project Data</a></li>
              <li><a ng-click="vm.removeProject()" role="button">Delete Project</a></li>
            </ul>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
