<organization-notifications organization-id="vm.organization.id"></organization-notifications>

<div class="hbox hbox-auto-xs hbox-auto-sm" refresh-on="OrganizationChanged" refresh-action="vm.get(data)" refresh-throttle="2500">
  <div class="col">
    <div class="wrapper-md">
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-th-list"></i> Manage {{ vm.organization.name ? 'Organization "' + vm.organization.name + '"' : 'Organization'}}</div>
        <div class="panel-body m-b-n">
          <tabset class="tab-container">
            <tab heading="General">
              <form name="vm.organizationForm" role="form" class="form-validation">
                <div class="form-group m-b-none">
                  <label for="name">Organization Name</label>
                  <div ng-class="{'input-group': vm.organizationForm.$pending }">
                    <input id="name" name="name" type="text" class="form-control" placeholder="Organization Name"
                           ng-model="vm.organization.name"
                           ng-model-options="{ debounce: 500 }"
                           ng-change="vm.save(vm.organizationForm.$valid)"
                           organization-name-available-validator
                           ng-required="true"
                           autofocus />
                    <span class="input-group-addon" ng-if="vm.organizationForm.$pending">
                      <i class="fa fa-fw fa-spinner fa-spin"></i>
                    </span>
                  </div>

                  <div class="error" ng-messages="vm.organizationForm.name.$error" ng-if="vm.organizationForm.$submitted || vm.organizationForm.name.$touched">
                    <small ng-message="required">Organization Name is required.</small>
                    <small ng-message="unique">A organizations with this name already exists.</small>
                  </div>
                </div>
              </form>
            </tab>
            <tab heading="Projects" active="vm.tabProjectsActive">
              <projects settings="vm.projects"></projects>

              <a ui-sref="app.project.add" class="btn btn-primary" role="button">Add New Project</a>
            </tab>
            <tab heading="Users" active="vm.tabUsersActive">
              <users settings="vm.users"></users>

              <button type="button" role="button" ng-click="vm.addUser()" class="btn btn-primary">Invite User</button>
            </tab>
            <tab heading="Billing" active="vm.tabBillingActive">
              <p>You are currently on the <strong>{{vm.organization.plan_name}}</strong> plan. <a ng-if="vm.canChangePlan()" ng-click="vm.changePlan()">Change your plan or billing information.</a></p>
              <invoices settings="vm.invoices"></invoices>
            </tab>
          </tabset>
        </div>
        <footer class="panel-footer">
          <div class="pull-right">
            <a ui-sref="app.organization-dashboard({ organizationId: vm.organization.id })" class="btn btn-default" role="button">Go To Dashboard</a>
          </div>
          <div class="btn-group">
            <button type="button" role="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-fw fa-remove"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a ng-click="vm.leaveOrganization(appVm.user)" role="button">Leave Organization</a></li>
              <li><a ng-click="vm.removeOrganization()" role="button">Delete Organization</a></li>
            </ul>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
