<ul class="nav">
  <li ng-class="{active: appVm.isTypeMenuActive('error')}">
    <a href="#" class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-warning fa-fw"></i>
      <span>Exceptions</span>
    </a>
    <ul class="nav nav-sub dk" auto-active>
      <li class="nav-sub-header">Exceptions</li>
      <li>
        <a ng-href="{{appVm.getDashboardUrl('error')}}">
          <i class="fa fa-dashboard fa-fw"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a ng-href="{{appVm.getRecentUrl('error')}}">
          <i class="fa fa-calendar fa-fw"></i>
          <span>Most Recent</span>
        </a>
      </li>
      <li>
        <a ng-href="{{appVm.getFrequentUrl('error')}}">
          <i class="fa fa-signal fa-fw"></i>
          <span>Most Frequent</span>
        </a>
      </li>
      <li>
        <a ng-href="{{appVm.getNewUrl('error')}}">
          <i class="fa fa-asterisk fa-fw"></i>
          <span>New</span>
        </a>
      </li>
    </ul>
  </li>
  <li ng-class="{active: appVm.isTypeMenuActive('log')}">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-file-text-o fa-fw"></i>
      <span>Log Messages</span>
    </a>
    <ul class="nav nav-sub dk" auto-active>
      <li class="nav-sub-header">Log Messages</li>
      <li>
        <a ng-href="{{appVm.getDashboardUrl('log')}}">
          <i class="fa fa-dashboard fa-fw"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a ng-href="{{appVm.getRecentUrl('log')}}">
          <i class="fa fa-calendar fa-fw"></i>
          <span>Most Recent</span>
        </a>
      </li>
      <li>
        <a ng-href="{{appVm.getFrequentUrl('log')}}">
          <i class="fa fa-signal fa-fw"></i>
          <span>Most Frequent</span>
        </a>
      </li>
      <li>
        <a ng-href="{{appVm.getNewUrl('log')}}">
          <i class="fa fa-asterisk fa-fw"></i>
          <span>New</span>
        </a>
      </li>
    </ul>
  </li>
  <li ng-class="{active: appVm.isTypeMenuActive('404')}">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-unlink fa-fw"></i>
      <span>Broken Links</span>
    </a>
    <ul class="nav nav-sub dk" auto-active>
      <li class="nav-sub-header">Broken Links</li>
      <li>
        <a ng-href="{{appVm.getDashboardUrl('404')}}">
          <i class="fa fa-dashboard fa-fw"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a ng-href="{{appVm.getRecentUrl('404')}}">
          <i class="fa fa-calendar fa-fw"></i>
          <span>Most Recent</span>
        </a>
      </li>
      <li>
        <a ng-href="{{appVm.getFrequentUrl('404')}}">
          <i class="fa fa-signal fa-fw"></i>
          <span>Most Frequent</span>
        </a>
      </li>
      <li>
        <a ng-href="{{appVm.getNewUrl('404')}}">
          <i class="fa fa-asterisk fa-fw"></i>
          <span>New</span>
        </a>
      </li>
    </ul>
  </li>
  <li ng-class="{active: appVm.isTypeMenuActive('usage')}">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-check-square-o fa-fw"></i>
      <span>Feature Usages</span>
    </a>
    <ul class="nav nav-sub dk" auto-active>
      <li class="nav-sub-header">Feature Usages</li>
      <li>
        <a ng-href="{{appVm.getDashboardUrl('usage')}}">
          <i class="fa fa-dashboard fa-fw"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a ng-href="{{appVm.getRecentUrl('usage')}}">
          <i class="fa fa-calendar fa-fw"></i>
          <span>Most Recent</span>
        </a>
      </li>
      <li>
        <a ng-href="{{appVm.getFrequentUrl('usage')}}">
          <i class="fa fa-signal fa-fw"></i>
          <span>Most Frequent</span>
        </a>
      </li>
    </ul>
  </li>
  <li ng-class="{active: appVm.isAllMenuActive()}">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-calendar fa-fw"></i>
      <span>All Events</span>
    </a>
    <ul class="nav nav-sub dk" auto-active>
      <li class="nav-sub-header">All Events</li>
      <li>
        <a ng-href="{{appVm.getDashboardUrl()}}">
          <i class="fa fa-dashboard fa-fw"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a ng-href="{{appVm.getRecentUrl()}}">
          <i class="fa fa-calendar fa-fw"></i>
          <span>Most Recent</span>
        </a>
      </li>
      <li>
        <a ng-href="{{appVm.getFrequentUrl()}}">
          <i class="fa fa-signal fa-fw"></i>
          <span>Most Frequent</span>
        </a>
      </li>
      <li>
        <a ng-href="{{appVm.getNewUrl()}}">
          <i class="fa fa-asterisk fa-fw"></i>
          <span>New</span>
        </a>
      </li>
    </ul>
  </li>
  <li ng-class="{active: appVm.isAdminMenuActive()}">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-cog fa-fw"></i>
      <span>Admin</span>
    </a>
    <ul class="nav nav-sub dk" auto-active>
      <li class="nav-sub-header">Admin</li>
      <li>
        <a ui-sref="app.project.list">
          <i class="fa fa-briefcase fa-fw"></i>
          <span>Projects</span>
        </a>
      </li>
      <li>
        <a ui-sref="app.organization.list">
          <i class="fa fa-group fa-fw"></i>
          <span>Organizations</span>
        </a>
      </li>
      <li>
        <a ui-sref="app.account.manage">
          <i class="fa fa-user fa-fw"></i>
          <span>My Account</span>
        </a>
      </li>
      <li ng-if="appVm.hasAdminRole()">
        <a ui-sref="app.admin.dashboard">
          <i class="fa fa-cogs fa-fw"></i>
          <span>System</span>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href="https://github.com/exceptionless/Exceptionless/wiki" target="_blank" title="Documentation">
      <i class="fa fa-book fa-fw"></i>
      <span>Documentation</span>
    </a>
  </li>
  <li ng-if="appVm.isIntercomEnabled()">
    <a ng-click="appVm.showIntercom()" title="Support">
      <i class="fa fa-envelope fa-fw"></i>
      <span>Support</span>
    </a>
  </li>
</ul>
